<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<link rel="stylesheet" href="/js/main.css">
<script language="JavaScript" src="/js/common.js">
</script>
</head>

<body leftmargin="0" topmargin="0" onLoad="MM_preloadImages('img/left_tab_wms_on.png','img/left_tab_admin_on.png','img/bot_btn_left_on.png','img/bot_btn_right_on.png','img/bookmark_tab_on.png','img/icon_smallest_on.png','img/icon_largest_on.png','img/icon_close_on.png')">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="top"> 
    <td width="33" rowspan="3"><table width="25" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td height="122"><img src="img/left_back_top.png"></td>
        </tr>
        <tr>
          <td height="115"><img src="img/left_tab_icom_on.png"></td>
        </tr>
        <tr>
          <td height="115"><a href="javascript:;" target="_top" onClick="MM_nbGroup('down','group1','left_tab_wms','img/left_tab_wms_on.png',1)" onMouseOver="MM_nbGroup('over','left_tab_wms','img/left_tab_wms_on.png','',1)" onMouseOut="MM_nbGroup('out')"><img src="img/left_tab_wms_off.png" name="left_tab_wms" border="0"></a></td>
        </tr>
        <tr>
          <td height="115"><a href="#" target="_top" onClick="MM_nbGroup('down','group1','left_tab_admin','img/left_tab_admin_on.png',1)" onMouseOver="MM_nbGroup('over','left_tab_admin','img/left_tab_admin_on.png','',1)" onMouseOut="MM_nbGroup('out')"><img src="img/left_tab_admin_off.png" name="left_tab_admin" border="0"></a></td>
        </tr>
        <tr>
          <td height="9"><img src="img/left_back_bot.png"></td>
        </tr>
        <tr>
          <td background="img/left_back_bg.png">&nbsp;</td>
        </tr>
      </table></td>
    <td height="82"><table width="100%" height="72" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td width="16"><img src="img/top_back_left.png"></td>
          <td bgcolor="#28356f"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="183"><a href="main.htm"><img src="img/top_logo.png" hspace="15" border="0"></a></td>
                <td width="1"><img src="img/top_area_line.png"></td>
                <td valign="bottom"><table width="100%" height="51" border="0" cellpadding="0" cellspacing="0">
                    <tr align="center"> 
                      <td width="144" height="30" background="img/top_menu_back_off.png"><a href="#" class="m_main">MENU 01</a></td>
                      <td width="144" height="30" background="img/top_menu_back_on.png"><a href="#" class="m_main_on">MENU 02</a></td>
                      <td width="144" height="30" background="img/top_menu_back_off.png"><a href="#" class="m_main">MENU 03</a></td>
                      <td width="1"><img src="img/top_area_line2.png"></td>
                      <td width="144" height="30" background="img/top_menu_back_off.png"><a href="#" class="m_main">MENU 04</a></td>
                      <td width="1"><img src="img/top_area_line2.png"></td>
                      <td width="144" height="30" background="img/top_menu_back_off.png"><a href="#" class="m_main">MENU 05</a></td>
                      <td width="1"><img src="img/top_area_line2.png"></td>
                      <td width="144" height="30" background="img/top_menu_back_off.png"><a href="#" class="m_main">MENU 06</a></td>
                      <td width="1"><img src="img/top_area_line2.png"></td>
                      <td width="144" height="30" background="img/top_menu_back_off.png"><a href="#" class="m_main">MENU 07</a></td>
                      <td width="1"><img src="img/top_area_line2.png"></td>
                      <td width="144" height="30" background="img/top_menu_back_off.png"><a href="#" class="m_main">MENU 08</a></td>
                      <td width="1"><img src="img/top_area_line2.png"></td>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
                <td width="1"><img src="img/top_area_line.png"></td>
                <td width="148" align="center"><select class="select_warehouse">
                    <option>창고선택---</option>
                  </select></td>
                <td width="1"><img src="img/top_area_line.png"></td>
                <td width="177" valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr align="center"> 
                      <td width="45"><a href="#"><img src="img/top_icon_help.png" border="0"></a></td>
                      <td width="1"><img src="img/top_area_line2.png"></td>
                      <td width="45"><a href="#"><img src="img/top_icon_info.png" border="0"></a></td>
                      <td width="1"><img src="img/top_area_line2.png"></td>
                      <td width="45"><a href="#"><img src="img/top_icon_logout.png" border="0"></a></td>
                      <td width="1"><img src="img/top_area_line2.png"></td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr> 
                      <td width="6" height="42"></td>
                      <td width="21" align="center"><img src="img/top_icon_user.png"></td>
                      <td class="userinfo_txt"><span class="userinfo_txt2">ADMIN</span> 님 환영합니다</td>
                      <td width="20" align="right"><a href="#"><img src="img/top_icon_modify.png" border="0"></a></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
          <td width="16"><img src="img/top_back_right.png"></td>
        </tr>
      </table></td>
    <td width="29">&nbsp;</td>
  </tr>
  <tr valign="top"> 
    <td><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td width="17" height="35"><img src="img/con_tit_left.png"></td>
          <td background="img/con_tit_bg.png"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="20"><img src="img/title_deco.png"></td>
                <td bgcolor="#f6f8fa"><span class="title_txt">물품 정보</span> &nbsp; 
                  &nbsp; <span class="navi_txt">출고관리 &gt; 마스터관리 &gt;</span> <span class="navi_txt2">물품정보</span></td>
                <td width="80">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr> 
                      <td><a href="javascript:;" target="_top" onClick="MM_nbGroup('down','group1','icon_smallest','img/icon_smallest_on.png',1)" onMouseOver="MM_nbGroup('over','icon_smallest','img/icon_smallest_on.png','',1)" onMouseOut="MM_nbGroup('out')"><img src="img/icon_smallest_off.png" name="icon_smallest" border="0"></a></td>
                      <td><a href="javascript:;" target="_top" onClick="MM_nbGroup('down','group1','icon_largest','img/icon_largest_on.png',1)" onMouseOver="MM_nbGroup('over','icon_largest','img/icon_largest_on.png','',1)" onMouseOut="MM_nbGroup('out')"><img src="img/icon_largest_off.png" name="icon_largest" border="0"></a></td>
                      <td><a href="javascript:;" target="_top" onClick="MM_nbGroup('down','group1','icon_close','img/icon_close_on.png',1)" onMouseOver="MM_nbGroup('over','icon_close','img/icon_close_on.png','',1)" onMouseOut="MM_nbGroup('out')"><img src="img/icon_close_off.png" name="icon_close" border="0"></a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table></td>
          <td width="12"><img src="img/con_tit_right.png"></td>
        </tr>
        <tr>
          <td background="img/con_tit_left_bg.png">&nbsp;</td>
          <td bgcolor="#f6f8fa">&nbsp;</td>
          <td background="img/con_tit_right_bg.png">&nbsp;</td>
        </tr>
        <tr>
          <td height="16"><img src="img/con_tit_bot_left.png"></td>
          <td background="img/con_tit_bot_bg.png">&nbsp;</td>
          <td><img src="img/con_tit_bot_right.png"></td>
        </tr>
      </table></td>
    <td align="right"><table width="21" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td height="113"><a href="#" target="_top" onClick="MM_nbGroup('down','group1','bookmark_tab','img/bookmark_tab_on.png',1)" onMouseOver="MM_nbGroup('over','bookmark_tab','img/bookmark_tab_on.png','',1)" onMouseOut="MM_nbGroup('out')"><img src="img/bookmark_tab.png" name="bookmark_tab" border="0"></a></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr valign="top"> 
    <td height="34" valign="bottom"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td width="16"><img src="img/bot_back_left.png"></td>
          <td bgcolor="#848aa3"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="36"><a href="#"><img src="img/bot_btn_close.png" border="0"></a></td>
                <td><table width="100%" height="25" border="0" cellpadding="0" cellspacing="0">
                    <tr align="center"> 
                      <td width="174"><a href="#" class="b_tab">OPEN Page Tab</a></td>
                      <td width="174" background="img/bot_tab_on.png"><a href="#" class="b_tab">OPEN Page Tab</a></td>
                      <td width="174"><a href="#" class="b_tab">OPEN Page Tab</a></td>
                      <td width="1"><img src="img/bot_area_line.png"></td>
                      <td width="174"><a href="#" class="b_tab">OPEN Page Tab</a></td>
                      <td width="1"><img src="img/bot_area_line.png"></td>
                      <td width="174"><a href="#" class="b_tab">OPEN Page Tab</a></td>
                      <td width="1"><img src="img/bot_area_line.png"></td>
                      <td width="174"><a href="#" class="b_tab">OPEN Page Tab</a></td>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
                <td width="90"><table border="0" cellpadding="0" cellspacing="0">
                    <tr align="right"> 
                      <td width="40"><a href="javascript:;" target="_top" onClick="MM_nbGroup('down','group1','bot_btn_left','img/bot_btn_left_on.png',1)" onMouseOver="MM_nbGroup('over','bot_btn_left','img/bot_btn_left_on.png','',1)" onMouseOut="MM_nbGroup('out')"><img src="img/bot_btn_left_off.png" name="bot_btn_left" border="0"></a></td>
                      <td width="40"><a href="#"><img src="img/bot_btn_right_on.png" border="0"></a></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
          <td width="16"><img src="img/bot_back_right.png"></td>
        </tr>
      </table></td>
    <td>&nbsp;</td>
  </tr>
</table>

</body>
</html>
